node_modules
**/**/node_modules
**/**/.next
**/**/public
packages/prisma/zod
apps/web/public/embed
/cal/node_modules
/cal/**/**/node_modules
/cal/**/**/.next
/cal/**/**/public
/cal/packages/prisma/zod
/cal/apps/web/public/embed


